.imgDetail{
    width: 300px;
}
.contenedorDetail{
    margin-top: 5%;
    height: 450px;
    display: flex;
    justify-content: center;
}
.conTextDetail{
    width: 50%;
    padding-left: 30px;
}
.precioDetail{
    height: 15%;
}
.stockDetail{
    margin-right: 5px;
}
.btnComprar{
    margin-right: 10px;
}
.cardItemF{
    width: 250px;
}
.cardImgF{
    height: 300px;
}
.sugerencia{
    margin-top: 5%;
    margin-bottom: 30px;
}
.titleSugerencia{
    height: 100px;
}
.contBotonDetail{
    width: 200px;
}
@media (max-Width: 800px){
    .contenedorDetail{
        display: block;
        margin-top: 5%;
        margin-left: 30%;
        height: 450px;
    }
}
@media (max-Width: 480px){
    .imgDetail{
        width: 200px;
    }
    .conTextDetail{
        width: 170px;
        padding-left: 30px;
    }
}